@font-face {
    font-family: "Montserrat-bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Judson-regular";
    src: url('../fonts/Judson-Regular.ttf');
}

@font-face {
    font-family: "Inter-bold";
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: "Inter-semibold";
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: "Inter-regular";
    src: url('../fonts/Inter-Regular.ttf');
}

.gW {
    min-width: 1440px;
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

.gW-img {
    position: relative;
    height: 867px;


    z-index: -1;
}

.central {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    top: 1440px;
    
    margin: 0 auto;

    width: 1000px;
}

.central-title {
    width: 933.333px;
    height: 66.133px;
    transform: rotate(-2.341deg);

    color: #FFF;
    font-family: "Montserrat-bold";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.7%; /* 52.288px */
    letter-spacing: -2.88px;

    padding-bottom: 60px;
    padding-left: 90px;
}

.central-reactions {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;

    justify-content: space-between;
}

.central-reaction-block {
    height: 175px;
    width: 175px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
}

.block-emoji {
    height: 175px;
    width: 175px;
}

.block-span {
    color: #FFF;
    font-family: "Montserrat-bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 24.8px */

    display: flex;
    justify-content: center;

}

.img-pleadingFace {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-alien {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-confidentSmile {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-cowboy {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-crazy {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-hug {
    position: absolute;
    height: 175px;
    width: 175px;
}

.img-glasesMustage {
    position: absolute;
    height: 175px;
    width: 175px;
}





