@font-face {
    font-family: "Montserrat-bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Judson-regular";
    src: url('../fonts/Judson-Regular.ttf');
}

@font-face {
    font-family: "Inter-bold";
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: "Inter-semibold";
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: "Inter-regular";
    src: url('../fonts/Inter-Regular.ttf');
}

.header {
    border-radius: 70px 70px 0px 0px;
    background: linear-gradient(90deg, #409C51 0%, #97D0A9 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    max-height: 806px;
    max-width: 1440px;
    min-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.header-left {
    display: flex;
    flex-direction: column;

    margin-left: 100px;

}

.header-left-title {
    width: 653px;
    height: 169px;

    margin-top: 132px;
}

.header-left-title-span {
    color: #FFF;
    font-family: "Montserrat-bold";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.7%; /* 78.432px */
    letter-spacing: -4.32px;
}

.header-left-subtitle {
    width: 544px;
    height: 88px;

    margin-top: 71px;
}

.header-left-subtitle-span {
    color: #FFF;
    font-family: "Judson-regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 19.84px */
}

.header-left-button-block {
    margin-top: 110px;
    margin-bottom: 168px;
}

.header-left-button-itself {
    

    border-radius: 37px;
    background: #FFF;
    border: 0px;

    color: #4A8654;
    font-family: "Inter-bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 23px */

    padding: 22px 64px 22px 64px;
}

.header-right {
}

.header-right-img-ivy {
    position: absolute;
    right: 100px;
    bottom: 237px;
    z-index: 1;
}

.header-right-img-firecracker {
    position: absolute;
    left: 1350px;
    top: 190px;
    z-index: 0;
}

.header-right-img-orange-dimond {
    position: absolute;
    top: 105px;
    left: 860px;
    z-index: 0;
}

.header-right-img-sparles {
    position: absolute;
    top: 510px;
    left: 920px;
    z-index: 0;
}

.header-right-img-savoring-food {
    position: absolute;
    height: 198px;
    width: 198px;
    top: 525px;
    right: 150px;
    z-index: 2;
}
