@font-face {
    font-family: "Montserrat-bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Judson-regular";
    src: url('../fonts/Judson-Regular.ttf');
}

@font-face {
    font-family: "Inter-bold";
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: "Inter-semibold";
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: "Inter-regular";
    src: url('../fonts/Inter-Regular.ttf');
}

.oP {
    display: flex;
    flex-direction: column;

    justify-content: start;

    max-width: 1262px;
    min-width: 1262px;
    min-height: 1110px;

    margin-top: 123px;
    margin-left: auto;
    margin-right: auto;

}

.oP-title-block {

}

.oP-title-block-title {
    color: #7ABF8B;
    font-family: "Montserrat-bold";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.7%; /* 52.288px */
    letter-spacing: -2.88px;
}

.oP-title-block-subtitle {
    margin-top: 21px;

    color: #7ABF8B;
    font-family: "Judson-regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
}

.oP-products {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.oP-products-product {

}

.oP-products-product-green-space {
    margin-top: 190px;

    display: flex;
    flex-direction: column;

    width: 366px;
    height: 543px;
    
    border-radius: 35px;
    background: linear-gradient(318deg, #C7F0CE 0%, #E6F1EB 100%);
}

.oP-products-product-photo {
    position: relative;
}

.oP-prosucts-product-photo-img-ivy {
    position: absolute;

    top: -180px;
    left: -50px;
}

.oP-prosucts-product-photo-img-module {
    position: absolute;

    width: 335px;
    height: 450px;

    top: -150px;
    left: -15px;
}

.oP-prosucts-product-photo-img-mockup {
    position: absolute;
    
    top: -140px;
    left: -15px;
}

.oP-products-product-title-block {
    display: flex;
    flex-direction: row;

    margin-top: 315px;
}

.oP-products-product-title-block-title {
    width: 298px;
    height: 50px;

    margin-left: 27px;

    font-family: "Montserrat-bold";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 25.3px */

    background: linear-gradient(94deg, #409C51 0%, #97D0A9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.oP-products-product-title-block-emoji {
    position: relative;
}

.oP-products-product-title-block-emoji-halo, 
.oP-products-product-title-block-emoji-ghost, 
.oP-products-product-title-block-emoji-exploading-head{
    position: absolute;
    width: 86px;
    height: 89px;

    top: -20px;
    left: 1px;
}

.oP-products-product-description {
    width: 310px;
    height: 98px;

    margin-top: 30px;
    margin-left: 27px;

    color: #4E8C59;
    font-family: "Inter-regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
}