@font-face {
    font-family: "Montserrat-bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Judson-regular";
    src: url('../fonts/Judson-Regular.ttf');
}

@font-face {
    font-family: "Inter-bold";
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: "Inter-semibold";
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: "Inter-regular";
    src: url('../fonts/Inter-Regular.ttf');
}

.wW-main {
    display: flex;
    flex-direction: row;

    max-width: 1440px;
    min-width: 1440px;

    justify-self: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.wW-main-grid-1 {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 0fr 0fr;

    row-gap: 24px;
    column-gap: 17px;

    margin-right: 75px;
}

.wW-main-grid-img-1 {
    height: 90px;
}

.wW-main-grid-img-itself-1 {

}

.wW-main-grid-title-1 {
    font-family: "Inter-bold";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 25.3px */

    width: 258px;
    height: 50px;    

    background: linear-gradient(94deg, #409C51 0%, #97D0A9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    place-self: end start;
}

.wW-main-grid-title-span-1 {

}

.wW-main-grid-empty-1 {

}

.wW-main-grid-text-1 {
    width: 310px;
    height: 82px;

    color: #419D51;
    font-family: Judson;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
}

.wW-main-grid-text-span-1 {

}

.wW-main-grid-2 {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 0fr 0fr;

    row-gap: 24px;
    column-gap: 17px;

    margin-right: 75px;
}

.wW-main-grid-img-2 {
    height: 90px;
}

.wW-main-grid-img-itself-2 {

}

.wW-main-grid-title-2 {
    font-family: "Inter-bold";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 25.3px */

    width: 183px;
    height: 50px;   

    background: linear-gradient(94deg, #409C51 0%, #97D0A9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    place-self: end start;
}

.wW-main-grid-title-span-2 {

}

.wW-main-grid-empty-2 {

}

.wW-main-grid-text-2 {
    width: 310px;
    height: 82px;

    color: #419D51;
    font-family: Judson;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
}

.wW-main-grid-text-span-2 {

}

.wW-main-grid-3 {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 0fr 0fr;

    row-gap: 24px;
    column-gap: 17px;
}

.wW-main-grid-img-3 {
    display: flex;
    
    height: 90px;
}

.wW-main-grid-img-itself-3 {

}

.wW-main-grid-title-3 {
    font-family: "Inter-bold";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 25.3px */

    width: 159px;
    height: 50px;  

    background: linear-gradient(94deg, #409C51 0%, #97D0A9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    place-self: end start;
}

.wW-main-grid-title-span-3 {

}

.wW-main-grid-empty-3 {

}

.wW-main-grid-text-3 {
    width: 310px;
    height: 82px;

    color: #419D51;
    font-family: Judson;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 21.68px */
}

.wW-main-grid-text-span-3 {

}
